.cointainer{
    display: flex;
    justify-content: center;
    background-color: #202020;
}
.column{
    flex: 1;
    padding: 20px;
    color: white;
}
.column:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
    margin-bottom: 9px;
}
.column:nth-child(2){
    line-height: 1.2;
    margin-top: 15px;
}
.email-link{
    color: white;
    text-decoration: none;
}
.column:last-child{
    margin-top: 20px;
}

.column:last-child .link{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.column:last-child p{
    text-align: right;
    line-height: 0.6;
}
@media (max-width: 600px){
    .cointainer {
        flex-direction: column;
        align-items: center;
    }
    .column{
        padding: 10px;
        text-align: center;
    }
    .column:last-child p {
        text-align: center;
    }
}