#resultado{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

#Imagen-izquierda{
    width: 40%;
    height: 60vh;
    margin-left: 1%;
}

#Imagen-izquierda>img{
    width: 100%;
    height: 150%;
    border-radius: 35% 8%;
}

#Informacion{
    width: 50%;
    margin-left: 3%;
    position: relative;
    flex-grow: 4;
}

#button_horario{
    margin-left: 5%;
}

#correo_profesor{
    margin-right: 5%;
}

#correo_profesor>img{
    width: 5em;
}
#Nombre_profesor{
    font-weight: bold;
    font-size: 5rem;
    line-height: normal;
}

#Descripcion_profesor{
    font-size: 1.2rem;
}

#Contenedor_listas{
    height: 40vh;
}

#Titulos>h3{
    text-align: center;
}

#Linea-investigacion>h3{
    text-align: center;
}
#Contenedor_listas{
    display: flex;
    height: 35vh;
}
#Contenedor_listas>div{
    width: 33%;

}

#Botones{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


#button_horario{
    background: linear-gradient(to right, #8176AF, #C0B7E8);
    width: 20%;
    height: 10%;
    border-radius: 30px;
    font-weight: bold;
    flex: 1;
  }
