.resultado {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
  }
  
  .resultado>img {
    width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 35% 8%;
  }
  
  .Descripcion_profesor {
    flex-grow: 1;
    width: 50%;
  }
  
  .Descripcion_profesor>h2 {
    font-size: 3.8vw;
    margin-bottom: 10px;
  }
  
  .Descripcion_profesor>p {
    font-size: 1.2vw;
    color: #ffffff;
  }
  
  #Contenedor_listas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    }

#Linea-investigacion{
    max-width: 40ch;
}

#correo_profesor{
    margin-left: 33%;
}

  @media screen and (min-width: 768px) {
    .description {
      flex-basis: 50%;
    }
  }

@media (max-width:1000px) {
    .resultado>img{
        width: 50vw;
        height: 70vh;
        margin: auto;
    }

    .Descripcion_profesor>h2 {
        font-size: 6vw;
      }

    .Descripcion_profesor>p {
        font-size: 3vw;
      }

    #Contenedor_listas{
        font-size: 2vw;
    }
}

@media (max-width:500px){
  .resultado>img{
    height: 40vh;
  }
}
